<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>운세 보는 챗도지</title>
</head>
<body>

	<!-- 프론트엔드와 백엔드 연동하기 -->

	<button onclick="postJSON()" >요청하기</button>
	
	<script type="text/javascript">
		
		async function postJSON() {
			
			const data = { username: "example" };

			try {
			    const response = await fetch("/fortuneTell", {
			      method: "POST",
			      headers: {
			        "Content-Type": "application/json",
			      },
			      body: JSON.stringify(data),
			    });
	
			    const result = await response.text();
			    console.log("성공:", result);
			  } catch (error) {
			    console.error("실패:", error);
			  }
		  }

	</script>
	
</body>
</html>